{% assign img_left = true %}
{% if section.img_left == false or section.img_left == 'false' %}
  {% assign img_left = false %}
{% endif %}
<div class="challenge-block{% if img_left %} img-left{% else %} img-right{% endif %}">
  {% if img_left %}
    <div class="challenge-img"><img src="{{ section.image }}" alt="" /></div>
    <div class="challenge-text">{{ section.text | markdownify }}</div>
  {% else %}
    <div class="challenge-text">{{ section.text | markdownify }}</div>
    <div class="challenge-img"><img src="{{ section.image }}" alt="" /></div>
  {% endif %}
</div>
